<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>filePath</th>
        <th>operate</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.filePath}"></td>
        <td>
            <form action="/deleteById" method="post">
                <input hidden type="number" name="id" th:value="${user.id}"/>
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
</table>

<form action="/add" method="post" enctype="multipart/form-data">
    </br></br></br></br>
    Name:<input type="text" name="name"/></br>
    Email:<input type="text" name="email"/></br>
    Files:<input type="file" name="files" multiple="multiple"/></br>
    <input type="submit" value="Submit"></br></br></br></br>
</form>


<form action="/deleteByName" method="post">
    Name:<input type="text" name="name"/>
    <input type="submit" value="Delete">
</form>

<form action="/deleteByEmail" method="post" >
    Email:<input type="text" name="email"/>
    <input type="submit" value="Delete">
</form>
</body>
</html>